@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Rambla', sans-serif;
    background-color: #404258;
}

header{
    margin: 20px auto;
    text-align: center;
}

header h1{
    color: #E9F8F9;
}

.form-contact{
    width: 600px;
    margin: 10px auto;
    padding: 10px;
}

.form-contact label{
    color: #F1F6F5;
}

.form-contact input {
    min-width: 550px;
    height: 20px;
    border-radius: 3px;
    padding: 2px;
    margin: 10px 0;
}

button {
    margin: 20px auto;
    text-align:center;
    padding: 15px;
    border-radius: 3px;
    font-weight: 500;
    display: flex;
    background-color: #CFB997;
    color: #404258;
}
